@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
--background:#7e7e7e;
--foreground:#000
}

::view-transition-old(page.forward) {
  animation: slide-out 0.6s forwards ease-in-out;
  opacity: 1 !important;
}

::view-transition-new(page.forward) {
  animation: slide-in 0.6s forwards ease-in-out;
  opacity: 1 !important;
}

/* Back navigation */
::view-transition-old(page.back) {
  animation: slide-out-reverse 0.6s forwards ease-in-out;
  opacity: 1 !important;
}

::view-transition-new(page.back) {
  animation: slide-in-reverse 0.6s forwards ease-in-out;
  opacity: 1 !important;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%) translateY(1px) scale(0.90) rotate(-3deg);
    opacity: 0.6;
  }
  to {
    transform: translateX(0) translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes slide-in-reverse {
  from {
    transform: translateX(100%) translateY(1px) scale(0.90) rotate(-3deg);
    opacity: 0.6;
  }
  to {
    transform: translateX(0) translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0) translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateX(100%) translateY(1px) scale(0.90) rotate(3deg);
    opacity: 0;
  }
}

@keyframes slide-out-reverse {
  from {
    transform: translateX(0) translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateX(-100%) translateY(1px) scale(0.90) rotate(3deg);
    opacity: 0;
  }
}
